Створити тип WaterCounter для поквартирного облiку води в будинку.
Характеризується номером квартири, номером мiсяця та показниками лiчильника – поточним i попереднiм. Передбачити за рахунок properties, що поточний показник лiчильника неменший попереднього, а також змiнювати значення може лише номер мiсяця.

2.Задати в кодi окремої комiрки ноутбуку колекцiю даних типу WaterCounter про використану за кiлька мiсяцiв воду в будинку з кiлькох квартир.

3.Вивести:
(а) для конкретного мiсяця табличку з даними про використану воду кожною квартирою
(б) для кожного рiчного кварталу використану воду кожною квартирою
(в) табличку загальної для будинку кiлькостi води по усiх мiсяцях, для яких були данi.

In [1]:
import datetime

def month_name(mon_num):
    datetime_object = datetime.datetime.strptime(str(mon_num), "%m")
    return datetime_object.strftime("%b")
    

class WaterCounter:
    
    def __init__(self, flat_num, month, prev_ind, cur_ind):
        self.flat_num = flat_num
        self.month = month
        self.prev_ind = prev_ind
        self.cur_ind = cur_ind
        
    def __str__(self):
        return f'Flat number: {self.flat_num}, month: {self.month}, prev_ind: {self.prev_ind}, cur_ind {self.cur_ind}'
    
    @property
    def flat_num(self):
        return self._flat_num
    
    @flat_num.setter
    def flat_num(self, value):
        self._flat_num = value
        
    @property
    def month(self):
        return self._month
    
    @month.setter
    def month(self, value):
        self._month = value
        
    @property
    def prev_ind(self):
        return self._prev_ind
    
    @prev_ind.setter
    def prev_ind(self, value):
        self._prev_ind = value
        
    @property
    def cur_ind(self):
        return self._cur_ind
    
    @cur_ind.setter
    def cur_ind(self, value):
        if (self.prev_ind > value):
            self._cur_ind = self.prev_ind
        else:
            self._cur_ind = value
    
    def water_use(self):
        total = self.cur_ind - self.prev_ind
        return total
    
    def monthly_report(self, month):
        if self.month == month:
            print (f'{self.flat_num} \t {self.water_use()}')

In [2]:
# 2

w1 = WaterCounter(12, 10, 24512, 29745)
w2 = WaterCounter(12, 11, 29745, 29800)
w3 = WaterCounter(12, 12, 29800, 32044)
w4 = WaterCounter(7, 1, 2584, 2688)
w5 = WaterCounter(7, 2, 2688, 2845)
w6 = WaterCounter(7, 3, 2845, 3475)
w7 = WaterCounter(10, 6, 15487, 18751) 
w8 = WaterCounter(10, 7, 18751, 20548) 
w9 = WaterCounter(10, 8, 20548, 34755)
w10 = WaterCounter(3, 12, 14789, 19874)
w11 = WaterCounter(3, 4, 45465, 54993)
w12 = WaterCounter(8, 4, 89455, 154987)
w13 = WaterCounter(9, 9, 15132, 16887)
w14 = WaterCounter(6, 9, 4789, 5688)
w15 = WaterCounter(7, 4, 8995, 9001)
w16 = WaterCounter(2, 3, 4546, 7554)
w17 = WaterCounter(2, 4, 56897, 54892) 
w18 = WaterCounter(1, 2, 88898, 966645) 
w19 = WaterCounter(1, 4, 205484, 565655)
w20 = WaterCounter(6, 5, 45455, 49545)

datalist = [ w1, w2, w3, w4, w5, w6, w7, w8, w9, w10, w11, w12, w13, w14, w15, w16, w17, w18, w19, w20 ]

In [3]:
# 3 a
#для конкретного мiсяця табличку з даними про використану воду кожною квартирою

mon_num = int(input("Enter a number of month (between 1 and 12): "))
month = month_name(mon_num)

print('\n  Report for', month.upper(), '\nFLAT \t USED WATER')
for item in datalist:
    item.monthly_report(mon_num)

Enter a number of month (between 1 and 12): 10

  Report for OCT
FLAT 	 USED WATER
12 	 5233

In [4]:
# 3 б
# для кожного рiчного кварталу використану воду кожною квартирою
quartal_list = [{}, {}, {}, {}]
for month in datalist:
    quartal = (month.month - 1) // 3
    if month.flat_num in quartal_list[quartal]:
        quartal_list[quartal][month.flat_num] += month.water_use()
    else:
        quartal_list[quartal][month.flat_num] = month.water_use()


print('\nUSED WATER IN YEAR')
count = 0
for i in quartal_list:
    count += 1
    print('  QUARTAL',count,'\nFlat \t Used water')
    for j in i:
        print(j, ' \t ', i[j])

USED WATER IN YEAR
  QUARTAL 1
Flat 	 Used water
7  	  891
2  	  3008
1  	  877747
  QUARTAL 2
Flat 	 Used water
10  	  3264
3  	  9528
8  	  65532
7  	  6
2  	  0
1  	  360171
6  	  4090
  QUARTAL 3
Flat 	 Used water
10  	  16004
9  	  1755
6  	  899
  QUARTAL 4
Flat 	 Used water
12  	  7532
3  	  5085

In [5]:
# 3 в
# табличку загальної для будинку кiлькостi води по усiх мiсяцях, для яких були данi
total = {}
for i in datalist:
    if i in total:
        total[i.month] += i.water_use()
    else:
        total[i.month] = i.water_use()
        
total = sorted(total.items())

print('USED WATER IN YEAR \nMONTH \t WATER')
for i in total:
    print(month_name(i[0]), '\t', i[1])

USED WATER IN YEAR
MONTH 	 WATER
Jan 	 104
Feb 	 877747
Mar 	 3008
Apr 	 360171
May 	 4090
Jun 	 3264
Jul 	 1797
Aug 	 14207
Sep 	 899
Oct 	 5233
Nov 	 55
Dec 	 5085